<div class="charts-container content-grid">
  <div class="chart-card content-card">
    <div #departmentChart id="departmentChart">
      <apx-chart
        [series]="departmentChartOptions.series"
        [chart]="departmentChartOptions.chart"
        [labels]="departmentChartOptions.labels"
        [colors]="departmentChartOptions.colors"
        [title]="departmentChartOptions.title"
        [dataLabels]="departmentChartOptions.dataLabels"
      ></apx-chart>
    </div>
  </div>
  
  <div class="chart-card content-card">
    <div #statusChart id="statusChart">
      <apx-chart
        [series]="statusChartOptions.series"
        [chart]="statusChartOptions.chart"
        [labels]="statusChartOptions.labels"
        [colors]="statusChartOptions.colors"
        [title]="statusChartOptions.title"
        [dataLabels]="statusChartOptions.dataLabels"
      ></apx-chart>
    </div>
  </div>
  
</div>